{% extends 'base.html' %}

{% block meta %}
<title>Add Pharmacy</title>
{% endblock meta %} 

{% block content %} 

<div class = "form-phar">

    <nav class="navbar navbar-expand-lg" style="background-color: #c43581">
    
        <div class="container-fluid">
            <div class = "login container d-flex flex-column justify-content-center align-items-center">
          <a class="navbar-brand mb-0 h1"style="font-size: 25px">&#9997 Add Pharmacy </a>
          </div>
        </div>
      </nav>


    <form method="POST" action="">
        {% csrf_token %}
            <div class="form-phar">
                <td>Nama: </td>
                <td>{{form.name}}</td>
            </div>
                
            <div class="form-phar">
                <td>Alamat: </td>
                <td>{{form.address}}</td>
            </div>

            <tr>
                <td></td>
                <td><input class="btn btn-primary" type="submit" value="Submit" value="post"></td>
            </tr> 
    </form>    
        
</div>
{% endblock content %}